#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    events: Kdyby\Events\DI\EventsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    autowired: Kdyby\Autowired\DI\AutowiredExtension
    newrelic: Quinix\NewRelic\DI\Extension

console:
    url: http://condroid.fan-project.com/

parameters:
    database:
        driver: mysqli
        dbname: navigator
        host: localhost
        user: root
        password:
        charset: utf8
        collation: utf8_czech_ci
    twitter:
        consumerKey: "mfmmAzIcdKlLMQ26xQlZqA"
        accessToken: "92108150-XAn3ENC2sYg4BsIRuv7quMSVEBGihg9rdrCctf72M"

php:
    date.timezone: Europe/Prague


nette:
    session:
        autoStart: smart

    latte:
        macros:
            - Nextras\Forms\Bridges\Latte\Macros\BS3InputMacros::install


doctrine:
    driver: mysqli
    dbname: condroid
    host: localhost
    user: root
    password:
    charset: utf8
    collation: utf8_czech_ci
    metadata:
        Model: annotations("%appDir%/model")

services:
  #  em: @doctrine.dao
    eventRepository: @doctrine.dao(Model\Event)
    annotationRepository: @doctrine.dao(Model\Annotation)
    lineRepository: @doctrine.dao(Model\ProgramLine)
    logDao: @doctrine.dao(Model\LogRecord)
    - Model\ApiLogger(@doctrine.dao(Model\ApiLog))
#        logger: Logger

    echoLogger:
        class: Model\Commands\EchoLogger
        autowired: false
    databaseLogger:
        class: Model\Commands\DatabaseLogger(@logDao)
        autowired: false

    importer:
        class: Model\Commands\ImportCommand(@eventRepository, @annotationRepository, @databaseLogger)
        tags: [kdyby.console.command]
    feedParser: Model\Commands\FeedParser(@echoLogger)
