#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
    parameters:
        database:
            driver: mysqli
            dbname: navigator
            host: localhost
            user: root
            password:
            charset: utf8
            collation: utf8_czech_ci
        twitter:
            consumerKey: "mfmmAzIcdKlLMQ26xQlZqA"
            accessToken: "92108150-XAn3ENC2sYg4BsIRuv7quMSVEBGihg9rdrCctf72M"


    php:
        date.timezone: Europe/Prague


    nette:
        session:
            autoStart: smart

    doctrine:
        connection: %database%
        entityDirs:
            - %appDir%/model
        proxy:
            dir: %tempDir%/proxy
            namespace: App\Model\Proxy
            autogenerate: true
        debugger: true
        repositoryClass: Model\Dao
        #useSimpleAnnotation: true
        console:
            entityManager: default


    services:
        em: @doctrine.entityManager
        eventRepository: @doctrine.entityManager::getRepository(Model\Event)
        annotationRepository: @doctrine.entityManager::getRepository(Model\Annotation)
        lineRepository: @doctrine.entityManager::getRepository(Model\ProgramLine)
#        logger: Logger

#        importer:
#            class: App\Model\Importer
#            tags: [consoleCommand]

#        doctrine_event_cache_subscriber:
#            class: App\Core\CacheSubscriber
#            tags: [doctrineEvent]


    factories:


production < common:

development < common:
