<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>


	<title>Condroid - průvodce conem pro Android</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	{if $useFullAssets}
		<!-- build:css {$basePath}/webtemp/style.min.css -->

		<link rel="stylesheet" href="{$basePath}/assets/bower/jquery-colorbox/example1/colorbox.css">
		<link type="text/css" rel="stylesheet" href="{$basePath}/assets/bower/SyntaxHighlighter/styles/shCoreDefault.css"/>
		<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/style.css" type="text/css"/>
		<!-- endbuild -->

	{else}
		<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/webtemp/style.min.css{version}" type="text/css"/>
	{/if}
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
</head>

<body id="top">

<div class="header">
	<div class="header-content">
		<a id="logo" n:href="default" title="Na úvod"></a>

		<div class="menu">
			<a n:href="default#top" n:class="$presenter->isLinkCurrent() ? active">Úvod</a> &middot;

			<a n:href="default#download" rel="download">Stažení</a> &middot;

			<a n:href="default#faq" rel="faq">FAQ</a> &middot;

			<a n:href="xmlReference" n:class="$presenter->isLinkCurrent() ? active">Přidat akci</a>
		</div>
	</div>

</div>

<div class="page">
	{include #content}

	<div class="slideshow">
		<ul>
			<li><img src="{$basePath}/img/small-1.png" alt="App Screen"/></li>
			<li><img src="{$basePath}/img/small-3.png" alt="App Screen"/></li>
			<li><img src="{$basePath}/img/small-4.png" alt="App Screen"/></li>
			<li><img src="{$basePath}/img/small-5.png" alt="App Screen"/></li>
			<li><img src="{$basePath}/img/small-2.png" alt="App Screen"/></li>
		</ul>
		<div class="navi">
			<a id="prev">&lsaquo;</a><a id="magnify" href="{$basePath}/img/1.png"><img src="{$basePath}/img/magnify.png" alt="+"/></a><a id="next">&rsaquo;</a>
		</div>
	</div>

	<div class="sidebar">

		<div class="box donate">
			<p class="first">Kontakt</p>
			<p>
				<a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#106;&#097;&#110;&#046;&#108;&#097;&#110;&#103;&#101;&#114;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#106;&#097;&#110;&#046;&#108;&#097;&#110;&#103;&#101;&#114;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a><br><br><a href="https://github.com/Quinix/Condroid/issues"><img src="/img/github.png" align="center"></a>
			</p>
		</div>


	</div>


</div>
{if $useFullAssets}
	<!-- build:js {$basePath}/webtemp/script.min.js -->
	<script src="{$basePath}/assets/bower/jquery/dist/jquery.js" type="text/javascript"></script>
	<script src="{$basePath}/assets/bower/jquery-migrate/jquery-migrate.min.js" type="text/javascript"></script>
	<script src="{$basePath}/assets/bower/SyntaxHighlighter/scripts/XRegExp.js" type="text/javascript"></script>
	<script src="{$basePath}/assets/bower/SyntaxHighlighter/scripts/shCore.js" type="text/javascript"></script>
	<script src="{$basePath}/assets/bower/SyntaxHighlighter/scripts/shBrushXml.js" type="text/javascript"></script>
	<script type="text/javascript" src="{$basePath}/assets/bower/jquery-colorbox/jquery.colorbox-min.js"></script>
	<script src="{$basePath}/assets/js/main.js" type="text/javascript"></script>
	<!-- endbuild -->
{else}
	<script src="{$basePath}/webtemp/script.min.js{version 6}" type="text/javascript"></script>
{/if}
</body>
</html>

