{**
 *
 * TwitterControl for Nette Framework 2.0, http://github.com/smasty/TwitterControl
 * Copyright 2011 Martin Srank (http://smasty.net)
 * Licensed under terms of the MIT License (http://opensource.org/licenses/mit-license)
 *
 *}
<p class="tweet" n:foreach="$tweets as $t">
    {!$t|tweetFormat}<br>
    &mdash; <a href="{$t->user->screen_name|userLink:$t->id_str}">{$t->created_at|timeAgo}</a>
</p>

